.list-group-item:hover{
    cursor: pointer;
    background-color: rgb(229, 229, 229);
}
.addressList{
    max-height: 200px;
    overflow-y: scroll;
}
.deleteMarker{
    position: absolute;
    right: 4px;
    color: red;
}
.deleteMarker:hover{
    cursor: pointer;
}